<launch>
  <!-- arg name="mav_name" default="fwmav"/ -->
  <arg name="world_name" default="empty"/>

  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find gazebo_ros)/urdf/landing_pad.xacro'" />

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model FWMAV -param robot_description -x 0 -y 0 -z 0 -R 0 -P 0 -Y 0"/>

  <node name="platform_ctrl_3" pkg="auto_landing" type="platform_ctrl_3" output="screen"/>

</launch>
